# EC-Earth 4: Monitoring

## Table of Contents

{% for item in presentation_list %}

{%- if item["presentation_type"] == "image" %}
* [{{item["title"].title()}}](#{{"-".join(item["title"].lower().replace("(","").replace(")","").split())}})
{%- endif -%}

{% endfor %}

{% for item in presentation_list %}

{%- if item["presentation_type"] == "text" %}
**{{ item["title"] }}**: {{ item["value"] }}<br>
{%- if "comment" in item %}
{{item["comment"]}} 
{% endif %}

{%- elif item["presentation_type"] == "image" %}

## {{item["title"].title()}}

![]({{item["path"]}} "{{item["title"]}}")

{{item["comment"]}}

{%- endif %}
{%- endfor %}

