# EC-Earth 4 Monitoring: {{exp_id}}

{% for scalar in scalar_diagnostics %}
**{{ scalar["long_name"] }}**: {{ scalar["data"] }}<br>
{%- if "comment" in scalar %}
{{scalar["comment"]}} 
{% endif %}
{% endfor %}

{% for diagnostic in nc_diagnostics -%}
## {{diagnostic["title"].title()}}

{% for plot in diagnostic["plot"] -%}

![]({{plot}} "{{diagnostic["long_name"][loop.index0]}}")

{% endfor %}

{{diagnostic["comment"]}}

{% endfor %}

