{# start with a list of contained plots (serves as table of contents) #}
{% for item in presentation_list %}

{%- if item["presentation_type"] == "image" %}
* "{{item["title"].title()}}":{{base_url}}#{{"-".join(item["title"].title().replace("(","").replace(")","").split())}}
{%- endif -%}

{% endfor %}


{% for item in presentation_list %}

{%- if item["presentation_type"] == "text" %}
**{{ item["title"] }}**: {{ item["value"] }}
{%- if "comment" in item %}
{{item["comment"]}} 
{% endif %}

{%- elif item["presentation_type"] == "image" %}

h2. {{item["title"].title()}}

!{{ urlencode(item["path"][2:]) }}!  
{# urlencode() encodes + symbols and spaces as %2B, %20 etc. The passed function is urllib.parse.quote #}
{# [2:] removes the characters "./" from the path string #}

{{item["comment"]}}

{% endif %}

{% endfor %}

