name: Package, publish to and test from PyPI
on:
  push:
    tags:
      - "*"

jobs:

  build-n-publish:

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -el {0}

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      -
        name: Install pypa/build
        run: |
          python -m pip install build
      -
        name: Build binary wheel and source tarball
        run: |
          python -m build --sdist --wheel --outdir dist/ .
      -
        name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  test-from-pypi:

    runs-on: ubuntu-latest
    needs: build-n-publish

    defaults:
      run:
        shell: bash -el {0}

    strategy:
      matrix:
        python-version: [ "3.11", "3.12", "3.13", "3.14" ]

    steps:
      -
        # Need to checkout code to get conda_environment.yml
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}
      -
        name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: latest
          environment-file: conda_environment.yml
          python-version: ${{matrix.python-version}}
      -
        name: Install scriptengine-tasks-ecearth with dependencies
        run: |
          python -m pip install scriptengine-tasks-ecearth
      -
        name: Test run ScriptEngine
        run: |
          se --help
          se --help | grep -q "ece\.mon"
