name: PyTest
on: 
  schedule: 
    - cron: '0 8 * * *'
  push:

env:
  TEST_DATA_REF: "https://github.com/valentinaschueller/ece-4-monitoring-test-data/archive/refs/heads/main.zip"
  TEST_DATA_DOWNLOAD: "test-data"

jobs:
    pytest:
      runs-on: ubuntu-latest
      defaults:
        run:
          shell: bash -l {0}
      strategy:
        matrix:
          python-version: [ '3.7', '3.8', '3.9', '3.10' ]

      steps:
        - name: Checkout
          uses: actions/checkout@v3
            
        - name: Setup Python
          uses: actions/setup-python@v3
          with:
            python-version: ${{matrix.python-version}}
        
        - name: Setup miniconda
          uses: conda-incubator/setup-miniconda@v2
          with:
            miniconda-version: "latest"
            auto-activate-base: true
            environment-file: conda_environment.yml
            python-version: ${{matrix.python-version}}

        - name: Finish conda setup
          run: |
            conda info
            conda install pip
            python -m pip install --upgrade pip
            conda list

        - name: Install package + remaining PyPI dependencies
          run: pip install .
            
        - name: Download test data
          run: |
            mkdir ${TEST_DATA_DOWNLOAD};
            wget -O ${TEST_DATA_DOWNLOAD}/test-data.zip ${TEST_DATA_REF};
            unzip -q ${TEST_DATA_DOWNLOAD}/test-data.zip -d ${TEST_DATA_DOWNLOAD};
            mv ${TEST_DATA_DOWNLOAD}/ece-4-monitoring-test-data-main/ tests/testdata;

        - name: Install dependencies for testing
          run: |
            python -m pip install pytest
            python -m pip install coverage
            python -m pip install coveralls
            python -m pip install flake8
        - name: Lint with flake8
          run: |
            # Syntax errors or undefined names
            flake8 --count --select=E9,F63,F7,F82 --show-source --statistics monitoring/
            flake8 --count --select=E9,F63,F7,F82 --show-source --statistics helpers/
            flake8 --count --select=E9,F63,F7,F82 --show-source --statistics tests/
            # All other stuff
            flake8 --exit-zero --count --statistics --exclude=__init__.py --max-line-length=88 monitoring/
            flake8 --exit-zero --count --statistics --exclude=__init__.py --max-line-length=88 helpers/
            flake8 --exit-zero --count --statistics --exclude=__init__.py --max-line-length=88 tests/
        - name: Run PyTest
          run: |
            coverage run -m pytest
            coverage lcov
        
        - name: Run Coveralls
          uses: coverallsapp/github-action@master
          with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            path-to-lcov: coverage.lcov
